DATABASE_URL=postgresql://dev_restaurant_reservation_app_2qmk_user:cBQCgp19IegpdeYfIamUT9oaDBu799Ee@dpg-csieu8l6l47c73fb2evg-a.oregon-postgres.render.com/dev_restaurant_reservation_app_2qmk?ssl=true
DATABASE_URL_DEVELOPMENT=enter-your-development-database-url-here
DATABASE_URL_TEST=enter-your-test-database-url-here
DATABASE_URL_PREVIEW=enter-your-preview-database-url-here
LOG_LEVEL=info
